[Unit]
Description=Acorn - oracle

[Service]
Type=simple
ExecStart=/usr/local/acorn/cap --cup=/usr/local/acorn/cup/oracle.php --name=oracle --type=internal
Restart=always
User=acorn

[Install]
WantedBy=multi-user.target
