[Unit]
Description=Acorn - password

[Service]
Type=simple
ExecStart=/usr/local/acorn/cap --cup=/usr/local/acorn/cup/password --name=password --type=internal
Restart=always
User=acorn

[Install]
WantedBy=multi-user.target
