[Unit]
Description=Acorn - Logger

[Service]
Type=simple
ExecStart=/usr/local/acorn/cap --cup=/usr/local/acorn/cup/logger --name=logger --type=internal
Restart=always
User=acorn

[Install]
WantedBy=multi-user.target
