[Unit]
Description=Acorn - MySQL

[Service]
Type=simple
ExecStart=/usr/local/acorn/cap --cup=/usr/local/acorn/cup/mysql --name=mysql --type=internal
Restart=always
User=acorn

[Install]
WantedBy=multi-user.target
